
body, input, button {
    font: normal 14px "Microsoft Yahei";
    margin: 0;
    padding: 0
}

.odform-tit {
    font-weight: normal;
    font-size: 25px;
    color: #595757;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #c9cacb;
    margin: 0;
    padding: 5% 0
}

.odform-tit img {
    height: 40px;
    vertical-align: middle;
    margin-right: 15px
}

.odform {
    padding: 5%
}

.input-group {
    margin-bottom: 5%;
    position: relative
}

.input-group label {
    padding: 2% 0;
    position: absolute;
    color: #595757
}

.input-group input {
    margin-left: 5em;
    padding: 3% 5%;
    box-sizing: border-box;
    background: #efeff0;
    border: 0;
    border-radius: 5px;
    color: #595757;
    width: 75%
}

.odform button {
    background: #8ec31f;
    color: #fff;
    text-align: center;
    border: 0;
    border-radius: 10px;
    padding: 3%;
    width: 100%;
    font-size: 16px
}

.odform .cal {
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: auto 50%
}

.odform .xl {
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: auto 20%
}
